body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:684px;
}
#u127 {
  position:absolute;
  left:11px;
  top:8px;
  width:375px;
  height:684px;
}
#u128 {
  position:absolute;
  left:2px;
  top:334px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:422px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:11px;
  top:89px;
  width:375px;
  height:422px;
}
#u130 {
  position:absolute;
  left:2px;
  top:203px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:422px;
}
#u131 {
  position:absolute;
  left:11px;
  top:89px;
  width:375px;
  height:422px;
}
#u132 {
  position:absolute;
  left:2px;
  top:203px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u133 {
  position:absolute;
  left:171px;
  top:587px;
  width:56px;
  height:45px;
}
#u134 {
  position:absolute;
  left:2px;
  top:14px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u135 {
  position:absolute;
  left:184px;
  top:611px;
  width:70px;
  height:50px;
}
#u136 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:103px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u137 {
  position:absolute;
  left:461px;
  top:221px;
  width:336px;
  height:103px;
}
#u138 {
  position:absolute;
  left:10px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
